* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
body {
  background: #dfe3ee;
}
#appContainer {
  margin-top: 0px;
}

.content {
  max-width: 1150px;
  padding: 0 30px;
  height: 100%;
}
#headerContainer{
  background: #3b5998;
  height: 35px;
}
header#headerContainer .content {
  display: flex;
  justify-content: space-between;
}
header#headerContainer div {
  display: flex;
  align-items: center;
}
#logoimg {
  width: 38px;
}
#buscar {
  border-radius: 2px;
  width: 400px;
  height: 22px;
  outline: none;
}
#menuimg {
  width: 26px;
  border-radius: 50%;
}
#menulink {
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 13px;
  margin-left: 8px;
}



#postContainer {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  background: white;
  border-radius: 5px;
  margin-top: 15px;
  height: 300px;
  padding: 30px 30px;
}
div#postContainer div {
  display: flex;
}
div#postContainer #div2 {
  display: flex;
  flex-direction: column;
}
#postimg {
  height: 32px;
  width: 32px;
  border-radius: 20px;
  margin-right: 20px;
}
#author {
  font-size: 17px;
}
#date {
  font-size: 13px;
  color: grey;
}
#content {
  padding: 30px 5px;
}


#commentContent {
  display: flex;
}
#commentimg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
#commentContainer {
  display: flex;
  list-style: none;
  background: #dfe3ee;
  border-radius: 10px;
  width: 80%;
  margin-left: 20px;
  padding: 10px 10px;
  font-size: 13px;
}
#commentName {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
#commentContent {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 10px;
}
#container {
  list-style: none;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
